@charset "utf-8";
/* CSS Document */
/*
	Mudar cores/sobreescrever cores das classes e elementos neste  arquivo css,
	para não afetar a estrutura do html.
 	Customizar cores dos elementos do bootstrap aqui, para manter a organização.
*/
body{
	background-color:#e6e6e6;
}

.paper{
	border-color:#e9e7e8;
}

.legenda_imagem{
	color:inherit
}
.borda-abaixo{
	border-color:#efefef;
}

.cor-padrao-curso-texto{
	color:#7DA5C8;
}
.cor-padrao-curso-fundo{
	background-color:#4D7697;
	color:#fff;
	padding:30px;
}
.pagination>li>a{
		color: #4f9ca2 !important;
		border-color: #f2f6f7;
}
.pagination>li>a:hover{
		color: #4f9ca2 !important;
		border-color: #f2f6f7;
}
.pagination>.disabled>a:hover{
		color: #4f9ca2 !important;
		border-color: #f2f6f7;
}
.pagination>.disabled>a{
		color: #4f9ca2 !important;
		border-color: #f2f6f7;
}
.pagination>.active>a{
	background-color: #4f9ca2 !important;
	border-color: #4f9ca2;
	color:#fff !important;
}
.pagination>.active>a:hover{
	color:#fff !important;
}
.panel-heading{
	background-color: #AED6FB !important;
	border-color: #AED6FB;
	color: #333 !important;
}

img.arredondar{
	border-color:#f5f5f5;
}

h1,h2,h3,h4,h5{
	
	color:#e74c3c;}



table.senac {
	border-color:#E8E8E8;
}
table.senac th{
	/*background-color:#3498db;*/
	background-color:#4D7697;
	color:#fff;
	border-color:#dedede;
}
table.senac td{
	background-color:#fefefe;
	color:#333;
	border-color:#dedede;
}
header.senac{
	background-color:#7DA5C8;
}
.video-player{
	border-color:#000000;
}

#sombra{
	background-color:#e9e7e8;
}


#nome-curso{
    color: #fff;
}
.fundo-tecnicos{
	background-color:#fff;
	border-bottom:3px solid #ccc;
}

.caixa-destaque,.caixa-destaque-livre{
	/*background-color:#f2f6f7;*/
	/*background-color: #AED6FB;*/
	background-color:whitesmoke;
}

strong,b{
	color: #4D7697 !important
}

.caixa-destaque h1,.caixa-destaque h2,.caixa-destaque h3,
.caixa-destaque h4,.caixa-destaque h5,.caixa-destaque-livre h1,
.caixa-destaque-livre h2,.caixa-destaque-livre h3,.caixa-destaque-livre h4,
.caixa-destaque-livre h5{
	color:#333
}
.caixa-ta-na-midia{
	color: #fff;
	background-color: #4D7697;
}
.icone-transcricao > a{
	background-color:#FFB30D;
	color:#fff;
}
.icone-transcricao > a:hover{
	background-color: #2980b9;
	color:#fff;
}
/*
botões
*/
a.botao-transcricao{
	background-color:#f2f6f7;
	color:#2d2d2d;
	font-weight: bold;
	border-bottom:solid 2px #2d2d2d;
}
a.botao-transcricao:hover{
	background-color: #3498db;
	color:#fff;
	
}

.botao{
	background-color:#AED6FB;
	color:#2d2d2d;
	border-bottom:solid 2px #2d2d2d;
	font-weight:600;
	
}
.botao:hover{
	text-decoration:none;
	background-color:#4D7697;
	border-bottom:solid 2px #2d2d2d;
	color:#ffffff;
}
/* botoes das paginas, sintam-se livres pra modificar */
.pagination li a,.botao_paginacao{
	padding: 0.5em !important;
	width: 42px !important;
	height: 46px !important;
	border-radius: 0.5em !important;
	text-align: center !important;
	background-color:#f2f6f7 !important;
	color:#4D7697 !important;
	border-bottom:solid 2px #4D7697 !important;
	font-weight:600 !important;
	font-size: 1em !important;
}
.pagination li a:hover,.botao_paginacao:hover{
	text-decoration:none !important;
	background-color:#4D7697 !important;
	border-color: transparent !important;
	border-bottom:solid 2px #c7c7c7 !important;
	color:white !important; 
}
.pagination li.active a{
	background-color:#4D7697 !important;
	color:white !important;
	border-bottom:solid 2px #2d2d2d !important;
	font-weight:600 !important;
	border-color: #4D7697;
	border-bottom-color: #B5B5B5 !important;
}

.botao_paginacao:active, .botao_paginacao:focus{
	text-decoration:none;
	background-color:#FFB30D !important;
	border-bottom:solid 2px #c7c7c7;
	color:#2d2d2d !important;
	}
a.botao-pdf{
	background-color:#f2f6f7;
	border-bottom:solid 2px #3498db;
	font-weight:600;
	color:#2d2d2d !important;

}
a.botao-pdf:hover{
	font-weight: 600;
	color: #ffffff !important;
	background-color: #3498db;
}
.botao_paginacao.avancar, .botao_paginacao.voltar{	
	background-color:inherit;
	}
.botao_paginacao.avancar:hover, .botao_paginacao.voltar:hover{	
	background-color:inherit;
	}
.botao_paginacao.avancar:active, .botao_paginacao.voltar:focus{
	background-color:inherit !important;
	}
.botao_paginacao.avancar:focus, .botao_paginacao.voltar:active{
background-color:inherit !important;
}
a.botao-avancar{
	background-color:#3498db;
	border-bottom:solid 2px #c7c7c7;
	font-weight:600;
	color:#FFFFFF!important;
}
a.botao-avancar:hover{
	font-weight: 600;
	color: #FFFFFF !important;
	background-color:#FFB30D;
}
a.botao-voltar{
	background-color:#3498db;
	border-bottom:solid 2px #c7c7c7;
	font-weight:600;
	color:#FFFFFF !important;
}
a.botao-voltar:hover{
	font-weight: 600;
	color: #FFFFFF !important;
	background-color:#FFB30D;
}
a.botao-subir{
	background-color:#3498db;
	border-bottom:solid 2px #c7c7c7;
	font-weight:600;
	color:#FFFFFF !important;
}
a.botao-subir:hover{
	font-weight: 600;
	color: #FFFFFF !important;
	background-color:#FFB30D;
}
.anim-troca-cor:hover{
	background-color:#f2f6f7;

}


/* coloca um dos icones ao lado de um titulo */

.botao_paginacao.ativo{
	text-decoration:none;
	background-color:#3498db!important;
	border-bottom:solid 2px #c7c7c7;
	color:#ffffff !important;
	}

.botao_paginacao.ativo{
	text-decoration:none;
	background-color:#3498db!important;
	border-bottom:solid 2px #c7c7c7;
	color:#ffffff !important;
	}
.bg-topo-print {
    background-color: #E74C3C;
}
.bg-topo-print span{
	color: white;
}
.bg-topo-print span.fa.fa-print{
	color: #2d2d2d
}
.bg-topo-print .btn.btn-primary {
	background-color:#fff;
	border: 1px solid #fff;
	color: #333
}
.bg-topo-print .btn.btn-primary:hover, .bg-topo-print .btn.btn-primary:visited, .bg-topo-print .btn.btn-primary:active, .bg-topo-print .btn.btn-primary.active, .bg-topo-print .btn.btn-primary:focus   {
	background-color:#4D7697;
	border-color: #4D7697;
	color: white
}
.bg-topo-print button:hover span.fa.fa-print{
	color: white
}
/* IMPRESSÃO: cores do botão imprimir. Personalizar de acordo com as cores do tema */
.grupo-imprimir button.bto-imprimir {
  background: #E74C3C;
	color: white;
	box-shadow: none;
	cursor: pointer;
}
.grupo-imprimir button.bto-imprimir:hover {
    background-color: #D04133;
    color: #FFF;
    transition: 100ms;
}
.grupo-imprimir button.bto-ajuda  {
	background-color: #215D89;
  color: #fff;
}
.grupo-imprimir button.bto-ajuda:hover {
  background-color: #2A74B7;
  color: #FFF;
}
.grupo-imprimir button.bto-ajuda:hover span.fa.fa-question {
  color: #215D89;
}
.grupo-imprimir button.bto-ajuda span.fa.fa-question {
	color: #215D89;
}


.btn-print {
    color: #2D2D2D;
    background-color: #fff;
    border-color: #06415e;
}

/*painel gaitinha extra quando ativo*/
.panel.panel-default.ativo .panel-heading{
	color: white !important;;
	background-color: #4D7697 !important;
}


.popover-title{
	color:white;
	font-weight: bold;
	text-align: center;
	background-color:#4D7697;
	border-color:#4D7697
}

.nav > li > a{
	color:#333;
}
.nav > li > a:hover{
	color:#333;
	background-color: #7DA5C8;
	border-color: #7DA5C8;
}

.nav-tabs > li.active > a:hover{
	background-color: #4D7697;
	color: white;
	border-color: #4D7697;
}

.nav-tabs {
	border-bottom: 1px solid #4D7697;
}

.modal-header {
	background-color: #4D7697;
	border-radius: 4px 4px 0 0;
}
.modal-header .modal-title {
	color: white !important;
}
.modal-header .close{
	color: white;
}
.modal-footer button[data-dismiss="modal"]{
	background-color:#4D7697;
	border-color:#4D7697;
	color: white
}
.modal-footer button[data-dismiss="modal"]:hover{
	background-color: #FFC353;
	border-color:#FFC353;
}

