.pagination>li>a, .pagination>li>span{
    border:none;
    padding: 6px 2px;
}
.pagination>li>a:hover{background-color: #fff;}
.pagination{margin-left: 24%;}

ol li{color: #f7b53b;}
ol li span{color: #2d2d2d;}

@media screen and (max-width:550px){
    h2{margin-top: 80px;}
    .icone-resumo{
        background-position: center 0px;
      }
}
