.texto-borda{
	border: 1px solid #4387fd;
	padding: 5px;
	margin-left: -6px;
}
.pagination>li>a, .pagination>li>span{
    border:none;
    padding: 6px 2px;
}
.pagination>li>a:hover{background-color: #fff;}
.pagination{margin-left: 24%;}
.sigla_sobrescrito{
    text-decoration-line: overline;
    font-weight: 800;
    box-shadow: -1px 0px 0px 3px rgb(127, 138, 198);
    /* 127, 138, 198 */
    -webkit-box-shadow: 0px 0px 0px 3px rgb(127, 138, 198);
    -moz-box-shadow: -1px 0px 0px 3px rgba(127, 138, 198,1);
    padding: 2px 4px;
    margin: 0px 5px;
    font-family: math;
}
@media screen and (max-width:550px){
    h2{margin-top: 80px;}
}
